.widget{
    display: flex;
    flex-direction: column;
    gap: 60px;

    .top{
        padding: 30px 30px 15px;
        background-color: grey;
        text-align: center;

        img{
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
            cursor: pointer;
        }
    }

    .center{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        border-top: 2px solid #ce0000;
        z-index: 0;

        h2{
            position: relative;
            margin: 0;
            color: #ce0000;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            z-index: 0;
        }

        .icon{
            color: #777;
            font-size: 18px;
            line-height: 26px;
            cursor: pointer;
        }
    }

    .bottom{
        margin-top: -55px;

        .nav{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: lightblue;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            align-items: center;
            justify-content: space-evenly;
            gap: 35px;

            li a{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
            }

            li a > .icon{
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 24px;
                margin-bottom: 5px;
                -webkit-transition: color 0.25s, background-color 0.25s ease-in-out;
                transition: color 0.25s, background-color 0.25s ease-in;
            }

            .facebook > a > span.icon{
                border: 1px solid #3b5998;
                color: #3b5998;
            

                &:hover{
                background-color: #3b5998;
                color: aliceblue;
                }
            }

            .twitter > a > span.icon{
                border: 1px solid #00aced;
                color: #00aced;
            

                &:hover{
                background-color: #00aced;
                color: aliceblue;
                }
            }

            .googlePlus > a > span.icon{
                border: 1px solid #d34836;
                color: #d34836;
            

                &:hover{
                background-color: #d34836;
                color: aliceblue;
                }
            }

            .rss > a > span.icon{
                border: 1px solid #f60;
                color: #f60;
            

                &:hover{
                background-color: #f60;
                color: aliceblue;
                }
            }

            .vimeo > a > span.icon{
                border: 1px solid #4ebbff;
                color: #4ebbff;
            

                &:hover{
                background-color: #4ebbff;
                color: aliceblue;
                }
            }

            .youtube > a > span.icon{
                border: 1px solid #b00;
                color: #b00;
            

                &:hover{
                background-color: #b00;
                color: aliceblue;
                }
            }

            li > a > span.count{
                margin-top: 6px;
                font-size: 16px;
                font-weight: 700;
                color: #111;
            }

            li > a > span.title{
                margin-top: -1px;
                color: #777;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}