.foodRecipe{
    padding: 50px 30px;

    .foodRecipeWrapper{
        display: flex;
        gap: 25px;

        .itemLeft{
            flex: 8px;
            display: flex;
            flex-direction: column;
        }

        .itemRight{
            flex: 4px;

            .itemRightWrapper{
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                gap: 25px;
                padding: 20px;
                background-color: aqua;

                .advert1, .advert2{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}